/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/app/setup-pro
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleetp
/.idea
/.vscode